@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');

html, body {
    margin: 0;
    padding: 0;
    background: #1f1e33;
}

body {
    color: #fff;
    font-family: 'Belanosima', sans-serif;
}

.container {
    opacity: 0;
    transition: 0.5s;
}

.container.show {
    opacity: 1;
}

#loading {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#loading.hide {
    opacity: 0;
    visibility: hidden;
}

.image img {
    width: auto;
    height: 8rem;
    border-radius: 50%;
    padding: 4px;
    border: 2px dashed #fff;
}

.socmed .bx {
    font-size: 2.2rem;
    color: #fff;
    transition: .2s;
    margin: 0 2px;
}

.socmed .bx:active {
    transform: scale(1.2);
}

.progress {
    background: rgba(255, 255, 255, .25);
}

#waifu img {
    height: auto;
    width: 18rem;
    transform: translateY(40px);
    transition: 0.5s;
}